* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
}

#go-back,
#delete-todo {
    font-size: 1.5em;
    font-weight: bolder;
    cursor: pointer;
}

#new-todo-head {
    margin: 0px;
}

.todo-item {
    align-items: flex-start;
    margin: 5px;
    background-color: aliceblue;
}

.todo-item div {
    cursor: pointer;
}

textarea {
    resize: none;
}

input {
    border: 1px solid #000;
    outline: none;
}

.red-border {
    border: 1px solid #ff0000;
}

.no-margin {
    margin: 0px;
}

.late-due {
    color: #ff5100;
}

.todo-item-head {
    color: #009dff;
}

.hambuger-offcanvas {
    width: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

#line-1,
#line-2,
#line-3 {
    border-radius: 5px;
    height: 5px;
    background-color: #0d6efd;
    margin: 5px 0;
}

#line-1 {
    width: 30px;
}

#line-2 {
    width: 45px;
}

#line-3 {
    width: 20px;
}

.task-items {
    cursor: pointer;
}

.count {
    background-color: rgb(234, 229, 229);
    border: 1px solid #000 !important;
    margin-left: 15px;
    border-radius: 5px;
    padding: 2px 10px;
}

.task-empty span {
    color: #0d6efd
}